<h2>Add a New Word and Definition</h2>

<form action="/save_word" method="post">
  <div class="form-group">
    <label for="word_name">Enter a Word:</label>
    <input class="form-control word-input" type="text" id="word_name" name="word_name"
    placeholder = "ex: Tofurkey">
  </div>

  <button type="reset" value="reset" class="btn btn-warning">Reset</button>
  <a href = "\" role="button" class="btn btn-primary">Go Home</a>
  <button type="submit" class="btn btn-success">+ Add</button>
</form>
