<h2><%= @new_word.word_name() %></h2>

<% if @duplicate == true %>
<h1>HEY THAT WORD ALREADY EXISTS </h1>
<% end %>

<ul>
<% @definitions.each() do |definition| %>
  <li><%= definition.description() %></li>
<% end %>
</ul>


<form id="add-def-form" action = "/add_definition" method="post">
  <input id="word_id" name="word_id" type="hidden" value="<%= @new_word.id() %>">

  <div class="form-group">
    <label class="def-input-label" for="definition">Enter Another Definition</label>
    <input class="form-control def-input" type="text" id="definition" name="definition">
  </div>

  <a href = "\" role="button" class="btn btn-primary word-buttons">Go Home</a>
  <button type="submit" class="btn btn-success word-buttons">+ Add</button>
</form>
