<h2><%= @new_word.word_name() %></h2>

<h3>Definitions</h3>
<ul>
<% @definitions.each() do |definition| %>
  <li><%= definition.description() %></li>
<% end %>
</ul>

<button class="btn btn-primary" id="add-def-button">Add a Definition</button>

<form id="add-def-form" action = "/add_definition" method="post">
  <input id="word_id" name="word_id" type="hidden" value="<%= @new_word.id() %>">

  <div class="form-group">

    <label for="definition">Enter Another Definition</label>
    <input class="form-control def-input" type="text" id="definition" name="definition">
  </div>
  <button type="submit" class="btn btn-success">+ Add</button>
</form>

<a href = "\" role="button" class="btn btn-primary">Go Home</a>

<script>
  $("add-def-form").hide();
  $(".add-def-button").click (function(){
    $("add-def-form").show();
  });
</script>
